@import '../../scss/shared.scss';

.list {
    .list-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 0px 15px 0px;
        margin: 0px 0px 30px 0px;
        border-bottom: 1px solid #aaa;
        cursor: pointer;

        .content {
            width: 160px;
            flex-grow: 1;
            padding-left: 15px;

            font-size: 18px;

            .list-title {
                font-weight: 600;
            }
            .list-description {
                width: 150px;
                font-style: italic;
                font-family: 'Times New Roman', Times, serif;
            }
            @media screen and (max-width: 1000px) {
                width: 100%;
            }
        }
        .list-thumbnail {
            flex-grow: 0;
            height: 50px;

            @media screen and (max-width: 1000px) {
                display: none;
            }
        }

        &:hover, &.selected {
            border-bottom: 1px solid #5cb59c;

            @media screen and (max-width: 1000px) {
                border-bottom: none;
                border-left: 4px solid #5cb59c;
            }
        }

        @media screen and (max-width: 1000px) {
            padding: 15px 0px;
            margin: 0px 0px 10px 0px;

            border-bottom: none;
            border-left: 4px solid #aaa;
        }
    }
}