@import '../../scss/shared.scss';
.events > *:last-child {
    border-bottom: 1px solid #aaa;
}

.event {
    position: relative;
    width: 100%;
    min-width: 1000px;
    height: 80px;
    max-height: 80px;

    border-top: 1px solid #aaa;
    // background: rgba(255, 255, 255, 0.4);

    span {
        display: inline-block;
        padding: 15px;
        line-height: calc(80px - 30px);
    }
    .date {
        width: 200px;
        padding-left: 50px;

        border-right: 1px solid #aaa;
        font-size: 18px;
        font-style: italic;
        font-weight: 100;
    }

    .content {
        position: absolute;
        width: calc(100% - 150px);
        padding: 0px 15px; margin: 0px;
        line-height: calc(40px - 15px);

        .data {
            display: block;
            height: 80px;
            max-width: 350px;
            margin: 0px;
            padding: 15px 0px;

            .text {
                display: block;
                margin: 0px;
                font-size: 18px;

                &.location {
                    font-style: italic;
                    font-family: 'Times New Roman', Times, serif;
                }

                &.title {
                    margin-top: -2px; //Compensate for the bold text
                    font-weight: 600;
                }
            }
        }

        .tickets {
            position: absolute;
            right: 50px; top: 0px;
            height: 80px;

            .ticket {
                display: inline-block;
                height: 80px;
                padding: 0px 45px;

                line-height: 80px;
                font-size: 18px;
                font-weight: 400;

                color: darken(#5cb59c, 25%);
                transition: 250ms;
                cursor: pointer;

                &:hover {
                    background: darken(#5cb59c, 25%);
                    color: #fff;
                }

                &.vip {
                    color: #9D114A;

                    &:hover {
                        background: #9D114A;
                        color: #fff;
                    }
                }

                &.private {
                    color: #888;
                    cursor: unset;

                    &:hover {
                        background: none;
                    }
                }
            }
        }
    }
}