@import '../../scss/shared.scss';

header {
    position: relative;
    height: 68px;
    width: 100%;

    background-color: #5cb59c;
    background: linear-gradient(180deg, darken(#5cb59c, 5%) 0%, #5cb59c 100%);

    text-transform: uppercase;
    font-weight: 600;

    .content {
        position: relative;
        width: 100%;
        max-width: 1024px;
        margin: 0px auto;

        .logo {
            padding: 0px 25px 0px 0px;

            line-height: 68px;
            font-size: 22px;
            font-weight: 600;

            color: #fff;

            .menu-toggle {
                display: none;
            }

            @media screen and (max-width: 1000px) {
                padding-left: 25px;

                .menu-toggle {
                    position: absolute;
                    right: 25px; top: 15px;
                    display: block;

                    div {
                        width: 32px;
                        height: 5px;
                        background-color: #fff;
                        margin: 6px 0;
                    }
                }
            }
        }

        nav {
            position: absolute;
            right: 0px; top: 0px;
            padding: 0px 0px 0px 25px;

            line-height: 68px;

            a {
                padding: 0px 25px;

                font-size: 18px;
            }

            @media screen and (max-width: 1000px) {
                z-index: 9999;
                position: absolute;
                top: 68px;
                height: calc(100vh - 68px);
                width: 100vw;
                padding: 0px;

                background: #5cb59c;
                transition: 500ms;
                transform: translateX(100%);

                a {
                    display: block;
                    padding: 15px 0px;
                    text-align: center;
                }

                &.open {
                    transform: translateX(0);
                }
            }
        }
    }
}