@import '../../scss/shared.scss';

header {
    position: relative;
    height: 68px;
    width: 100%;

    background-color: #5cb59c;
    background: linear-gradient(180deg, darken(#5cb59c, 5%) 0%, #5cb59c 100%);

    text-transform: uppercase;
    font-weight: 600;

    .content {
        position: relative;
        width: 100%;
        max-width: 1024px;
        margin: 0px auto;

        .logo {
            padding: 0px 25px 0px 0px;

            line-height: 68px;
            font-size: 22px;
            font-weight: 600;

            color: #fff;
        }

        nav {
            position: absolute;
            right: 0px; top: 0px;
            padding: 0px 0px 0px 25px;

            line-height: 68px;

            a {
                padding: 0px 25px;

                font-size: 18px;
            }
        }
    }
}