@import '../../scss/shared.scss';

.events-page {
    .bookings {
        padding: 25px 0px;

        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 18px;

        color: #888;
    }
}