@import '../../scss/shared.scss';

.instagram-feed {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    height: 250px;

    .instagram-photo {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 320px !important;
        height: 100px;
        transform: translateY(100px) scale(1, 1);
    }
}