@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

html, body {
    overflow-x: hidden;

    width: 100%;
    padding: 0px;
    margin: 0px;

    font-family: 'Open Sans', sans-serif;
    font-smooth: auto;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: antialiased;

    font-size: 14px;
    @media screen and (max-width: 1200px) {
        font-size: 6px;
    }

    background: linear-gradient(45deg, #fff 0%, #dedede 100%);
}

main {
    flex: 1;
    max-width: 1300px;
    width: 100%;
    padding: 0px;
    margin: 0px auto;
}
main .extended-container {
    width: 500%;
    margin-left: -200%;
}

* {
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 0px !important
}
.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #fff;
}
h1 {
    display: block;
    height: auto;
    width: 100%;
    margin: 25px auto;

    font-weight: 600;
    font-size: 4rem;
    //font-family: 'Raleway';
    line-height: 5rem;
    text-transform: uppercase;
    text-align: center;

    &.main-title {
        height: 15rem;
        width: 100vw;
        margin: 0px auto 25px auto;

        line-height: 15rem;

        background: #5cb59c;
        color: #fff;
    }
}
h4 {
    margin: 0px;
    font-size: 2.6rem;
    font-weight: 200;
    line-height: 3rem;

    @media screen and (max-width: 1020px) {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.align-center {
    display: block;
    margin: 0px auto;
    text-align: center;
}