// FIXME: Update colors to match new project

$color-primary: #5cb59c;
$color-primary-dark: #002774;

$color-secondary: #D9527A;
$color-secondary-dark: #9D114A;

$color-dark: #404756;
$color-silvery: #A4ABBD;

$color-link: #0984E3;

$color-primary: #1661bc;
$color-black: #0e0e0e;
$color-error: #d91e18;
$color-light-gray: #cfcfcf;
$color-white: #efefef;

.color-primary {
    color: $color-primary;
}
.color-secondary {
    color: $color-secondary;
}